<style>
  .feather-16{
    width: 16px;
    height: 16px;
    color: #4e5bf2;
}
.open{
  color: #4e5bf2;
}
.close{
  color:#777;
}
.disable{
  display: none;
}
.active{
  position: absolute;right: 15px;top: 6px;z-index: 99;
  display: block;
  cursor: pointer;
}
</style>
 <div class="card">
    <div class="row">
      <div class="col-md-4 pr-md-0">
        <div class="auth-left-wrapper">

        </div>
      </div>
      <div class="col-md-8 pl-md-0">
        <div class="auth-form-wrapper px-4 py-5">
          <div class="d-flex" style="justify-content: space-between;  ">
            <a href="#" class="noble-ui-logo d-block mb-2">Kerwen<span>yoly</span></a>
            <span class="dropdown d-block mb-2">
              <a class="dropdown-toggle" href="#" id="languageDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="flag-icon flag-icon-<%= lang %>  mt-1" title="<%= lang %>"></i>
              </a>
              <div class="dropdown-menu" aria-labelledby="languageDropdown">
                <a href="/tm/" class="dropdown-item py-2 gen_href" data-lang="tm"><i class="flag-icon flag-icon-tm" title="tm" id="tm"></i> <span class="ml-1"> Türkmen </span></a>
                <a href="/ru/" class="dropdown-item py-2 gen_href" data-lang="ru"><i class="flag-icon flag-icon-ru" title="ru" id="ru"></i> <span class="ml-1"> Русский </span></a>
              </div>
            </span>
          </div>
          <h5 class="text-muted font-weight-normal mb-4"><span class="tr_lang">create_a_free_account</span></h5>
          <form method="post" action="/<%= lang %>/register" class="forms-sample">
            <div class="form-group">
              <label for="name"><span class="tr_lang" >Name</span></label>
              <input type="text" class="form-control tr_lang" id="name" name="name" autocomplete="Name" placeholder="Name">
            </div>
            <div class="form-group">
              <label for="username"><span class="tr_lang"  <% if (message) { %> style="color: #E91E63 !important;" <% } %> >Username</span></label>
              <input type="text" class="form-control tr_lang" id="username" name="username" placeholder="Username">
            </div>
            <div class="form-group">
              <label for="email"><span class="tr_lang"  <% if (message) { %> style="color: #E91E63 !important;" <% } %> >Email</span></label>
              <input type="email" class="form-control tr_lang" id="email" name="email" placeholder="Email">
            </div>
            <div class="form-group">
              <label for="password"><span class="tr_lang" <% if (message) { %> style="color: #E91E63 !important;" <% } %> >Password</span></label>
              <div style="position: relative;">
                <input type="password" name="password" class="form-control tr_lang <% if (message) { %> error<% } %>" id="password" autocomplete="current-password" placeholder="Password">
                <div id="close" class="disable active"style="top: 9px;"><i class="feather-16 close" data-feather="eye-off"></i></div>
                <div id="open"  class="disable "><i class="feather-16 open" data-feather="eye"></i></div>
              </div>
            </div>
            <div class="form-group">
              <label for="password"><span class="tr_lang" <% if (message) { %> style="color: #E91E63 !important;" <% } %> >Password</span></label>
              <div style="position: relative;">
                <input type="password" name="password" class="form-control tr_lang <% if (message) { %> error<% } %>" id="password" autocomplete="current-password" placeholder="Password">
                <div id="close" class="disable active"style="top: 9px;"><i class="feather-16 close" data-feather="eye-off"></i></div>
                <div id="open"  class="disable "><i class="feather-16 open" data-feather="eye"></i></div>
              </div>
            </div>
            <% if (message) { %>
              <h5 class="text-muted font-weight-normal mb-4" style="color: #E91E63 !important;"><%= message[lang] %></h5>
            <% } %>
            <div class="mt-3">
              <button type="submit" class="btn btn-primary mr-2 mb-2 mb-md-0 text-white"><span class="tr_lang">sign_un</span></button>
            </div>
            <a href="/<%= lang %>/login" class="d-block mt-3 text-muted"><span class="tr_lang" >already_user_sign_in</span></a>
          </form>
        </div>
      </div>
    </div>
  </div>
  <script>
    $(document).ready(function(){
      $('#open').click(function(){
        $('#password').attr('type', 'password'); 
        $('#close').toggleClass('active')
        $('#open').toggleClass('active')
      })
      $('#close').click(function(){
        $('#password').attr('type', 'text'); 
        $('#open').toggleClass('active')
        $('#close').toggleClass('active')
      })
    });
  </script>
