
<div class="page-content">
    <nav class="page-breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/<%= lang %>/admin/stores/"><span class="tr_lang">Stores</span></a></li>
            <li class="breadcrumb-item active" aria-current="page"><span class="tr_lang">Edit</span></li>
        </ol>
    </nav>
    <div class="row">
        <div class="col-lg-6 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title"><span class="tr_lang">Edit</span> <span class="tr_lang">store</span></h4>
                    <p class="card-description"><span class="tr_lang">some_text</span></p>
                        <form action="/api/stores/update/" method="post" enctype="multipart/form-data">
                            <fieldset>
                                <div class="form-group">
                                    <label for="nameTm"><span class="tr_lang">Name</span> (Tm)</label>
                                    <input id="nameTm" name="nameTm"value="<%= JSON.parse(data.name).tm %>" class="form-control" type="text">
                                </div>
                                <div class="form-group">
                                    <label for="nameRu"><span class="tr_lang">Name</span> (Ru)</label>
                                    <input id="nameRu" name="nameRu"value="<%= JSON.parse(data.name).ru %>" class="form-control" type="text">
                                </div>
                                <div class="form-group">
                                    <label for="phoneNumbers"><span class="tr_lang">phone_numbers</span> (1,2,...)</label>
                                    <input id="phoneNumbers" name="phoneNumbers" class="form-control" type="text"
                                    placeholder="99361234567,99362345678,..." value="<%= data.phoneNumbers %>">
                                </div>
                                <div class="form-group">
									<label><span class="tr_lang">Email</span></label>
                                    <input id="email" name="email" class="form-control" value="<%= data.email %>"type="email">
								</div>
                                <div class="form-group">
									<label><span class="tr_lang">Location</span></label>
                                    <select class="select2 w-100" name="locId" id="locId"></select>
								</div>
                                <div class="form-group">
									<label><span class="tr_lang">Category</span></label>
                                    <select class="select2 w-100" name="categories" id="categories"></select>
								</div>
                                <div class="form-group">
									<label><span class="tr_lang">Owner</span>Owner</label>
                                    <select class="select2 w-100" name="ownerIds[]" id="ownerIds">
                                        <% data.owners.forEach(element => { %>
                                            <option value="<%= element.id%>" selected="selected"><%= element.name %></option>
                                        <% }) %>
                                    </select>
								</div>
                                <div class="form-group">
									<label><span class="tr_lang">Address</span> (Tm)</label>
                                    <input id="addressTm" name="addressTm"value="<%= JSON.parse(data.address).tm %>" class="form-control" type="text">
								</div>
                                <div class="form-group">
									<label><span class="tr_lang">Address</span> (Ru)</label>
                                    <input id="addressRu" name="addressRu"value="<%= JSON.parse(data.address).ru %>" class="form-control" type="text">
								</div>
                                <div class="form-group">
									<label><span class="tr_lang">delivery_price</span></label>
                                    <input id="delivery_price" name="delivery_price"value="<%= data.delivery_price %>" class="form-control" type="text">
								</div>
                                <div class="form-group">
									<label><span class="tr_lang">delivery_price_ex</span></label>
                                    <input id="delivery_price_ex" name="delivery_price_ex"value="<%= data.delivery_price_ex %>" class="form-control" type="text">
								</div>
                                <div class="form-group">
									<label><span class="tr_lang">delivery_free</span></label>
                                    <input id="delivery_free"value="<%= data.delivery_free %>" name="delivery_free" class="form-control" type="text">
								</div>
                                <div class="form-group">
									<label><span class="tr_lang">Order</span></label>
                                    <input id="order" name="order" value="<%= data.order %>"class="form-control" type="number">
								</div>
                                <div class="form-check form-check-flat form-check-primary">
                                    <label class="form-check-label">
                                        <input type="checkbox" id="active" name="active" <%= data.active  ? 'checked' : '' %>  class="form-check-input">
                                        Active
                                    </label>
                                </div>
                                <div class="form-group">
                                    <div class="input-field">
                                        <label class="active"><span class="tr_lang">Images</span></label>
                                        <div class="input-images-1" style="padding-top: .5rem;"></div>
                                    </div>
                                </div>
                                <button class="btn btn-primary submitter" type="submit">
                                    <span class="tr_lang">Save</span>
                                </button>
                            </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="/assets/js/image-uploader.min.js"></script>
<script src="/assets/vendors/select2/select2.min.js"></script>

<script>
    let form={
        nameRu:'',
        nameTm:'',
        email:'',
        phoneNumbers:'',
        addressTm:'',
        addressRu:'',
        delivery_price:'',
        delivery_price_ex:'',
        delivery_free:'',
        locId:0,
        order:1000,
        ownerIds:[],
        categories:[],
        // latitude,
        // lingitude,
        active:'on',
    }
    let files=[];
    let deleted=[];
</script>
<script>
    const getImages=async(documents)=>{
        let preloaded =[]
        let base_url = window.location.origin+'/uploads';
        for (let i = 0; i < documents.length; i++) {
            const el = documents[i];
            preloaded.push({id: el.id, src: base_url+el.path})
        }
        return preloaded
    }

    const toBase64 = file => new Promise((resolve, reject) => {
        const reader = new FileReader();
        reader.readAsDataURL(file);
        reader.onload = () => resolve(reader.result);
        reader.onerror = error => reject(error);
    });

    const fileInit = async()=>{
        $('.input-images-1').imageUploader({
            preloaded:await getImages(JSON.parse('<%- JSON.stringify(data.documents) %>') ),
            imagesInputName: 'photos',
            label:'drag_drop_files_here_or_click_to_browse',
            multiple:false,
        });

        $('.upload-text span').addClass('tr_lang')
        $('input[name="photos[]"]').change(async function(){
            files=[]
            await $.each($(this)[0].files,async function(i, file) {
                let item =await toBase64(file)
                files.push(item)
            });
        })

        $('.delete-image').click(async function(){
            let parent= $(this).parent()
            let src = parent.children()[0].src;
            let id = $(parent.children()[2]).val()
            if (src[0]=='h') {
                deleted.push(id)
            }
        })

        $("#ownerIds").select2({
            placeholder: 'Select',
            minimumInputLength: 1,
            multiple:true,
            templateResult: formatState, //this is for append country flag.
            ajax: {
                url: `/api/users`,
                dataType: 'json',
                type: "POST",
                delay: 250,
                cache: true,
                data: function (params) {
                    console.log(params);
                    return {
                        search: {
                            name:params.term
                        },
                        page:1,
                        limit:10
                    };
                },
                processResults: function (data,params) {
                    params.page = params.page || 1;
                    console.log(data);
                    return {
                        results: $.map(data.data.tabledata, function (item) {
                            let url='/assets/images/placeholder.jpg'
                            if (item.documents.length>0) {
                                url='/uploads'+item.documents[0].path;
                            }
                            return {
                                text: item.name,
                                id: item.id,
                                url
                            }
                        }),
                        pagination: {
                            more: (params.page * 10) < data.totalCount
                        }
                    };
                }
            }
        });
        Object.keys(form).forEach(key => {
            form[key]=$(`#${key}`).val()
            $(`#${key}`).change( function(){
                form[key]=$(this).val()
            })
        });
        $('#active').change(function(){
            if($(this).is(":checked")) {
                //'checked' event code
                form.active='on'
                return;
            }
            form.active=null
        })
    }
    function formatState (state) {
        // console.log(state);
        if (!state.id) {
            return state.text;
        }
        var $state = $(
            '<span>' +state.text+ '</span>'
        );
        return $state;
    };

    $(document).ready(function(){
        fileInit()
        $('form').submit(function(e) {
            $('.submitter').prop('disabled', true);
            e.preventDefault()
            let id =window.location.href.split('/').pop()
            form.files=files
            form.deleted=deleted
            $.ajax({
                url      : $(this).attr('action')+id,
                type     : 'post',
                data     : form,
                dataType : 'json',
                success  : function (res){
                    console.log(res);
                    if (res.success) {
                        Swal.fire(
                            'Good job!',
                            res.message,
                            'success'
                        )
                        $('form').trigger("reset");
                    } else {
                        Swal.fire({
                        icon: 'error',
                        title: 'Oops...',
                        text: res.message,
                        })
                    }
                    $('form').trigger("reset");
                    $('.submitter').prop('disabled', false);
                },
                error    : function (error)
                {
                    Swal.fire({
                        icon: 'error',
                        title: 'Oops...',
                        text: error,
                        })
                    $('.submitter').prop('disabled', false);
                }
            });
        });
    });
</script>
<script>
    //Locarion
    let locId=parseInt('<%- data.locId %>')
    $(document).ready(function(){
        getSelectData('locations','locId',{selectedIds:[locId]})
        $('#locId').select2({
            placeholder: 'Select location',
            minimumResultsForSearch: 1,
            multiple: false,
        })
    })

    //category
    let categories=JSON.parse('<%- JSON.stringify(data.categories) %>')
    console.log(categories);
    let ids=[]
    categories.forEach(element => {
        ids.push(element.id)
    });
    console.log(ids);
    $(document).ready(function(){
        getSelectData('categories','categories',{selectedIds:ids})
        $('#categories').select2({
            placeholder: 'Select category',
            minimumResultsForSearch: 1,
            multiple: true,
        })
    })
    const addOption=(array,id)=>{
        array.forEach(element => {
            let str=''
            for (let i = 0; i < element.subcount; i++) {
                str+='---'
            }
            $("#"+id)
            .append($("<option></option>")
            .attr("selected", element.selected )
            .attr("value", element.id )
            .text(str+tr(element.name) ));
        });
        $("#"+id).trigger("change");
    }
    const getSelectData=(name,id,search={},)=>{
        const url=`/api/${name}/select2`
        const page=1
        const limit=10
        $.ajax({
            url      : url,
            type     : 'post',
            data     : {
                search,
                page,
                limit
            },
            dataType : 'json',
            success  : function (res) {
                console.log(res);
                if (res.success) {
                    addOption(res.data,id)
                } else {
                    Swal.fire({
                        icon: 'error',
                        title: 'Oops...',
                        text: res.message,
                        })
                }
            },
            error    : function (error) {
                Swal.fire({
                        icon: 'error',
                        title: 'Oops...',
                        text: res.message,
                        })
            }
        });
    }
</script>
