<nav class="sidebar">
      <div class="sidebar-header">
        <a href="#" class="sidebar-brand">
          Kerwen<span>yoly</span>
        </a>
        <div class="sidebar-toggler active">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
      <div class="sidebar-body">
        <ul class="nav">
          <li class="nav-item nav-category"><span class="tr_lang">Main</span></li>
          <li class="nav-item">
            <a href="/<%=lang %>/admin/dashboard/" class="nav-link">
              <i class="link-icon" data-feather="home"></i>
              <span class="link-title"><span class="tr_lang">Dashboard</span></span>
            </a>
          </li>
          <li class="nav-item">
            <a href="/<%=lang %>/admin/orders/" class="nav-link">
              <i class="link-icon" data-feather="package"></i>
              <span class="link-title"><span class="tr_lang">Orders</span></span>
            </a>
          </li>
          <li class="nav-item nav-category"><span class="tr_lang">Additionally</span></li>
          <li class="nav-item">
            <a href="/<%=lang %>/admin/brands/" class="nav-link">
              <i class="link-icon" data-feather="tag"></i>
              <span class="link-title"><span class="tr_lang">Brands</span></span>
            </a>
          </li>
          <li class="nav-item">
            <a href="/<%=lang %>/admin/categories" class="nav-link">
              <i class="link-icon" data-feather="grid"></i>
              <span class="link-title"><span class="tr_lang">Categories</span></span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#products" role="button" aria-expanded="false" aria-controls="products">
              <i class="link-icon" data-feather="shopping-bag"></i>
              <span class="link-title"><span class="tr_lang">Products</span></span>
              <i class="link-arrow" data-feather="chevron-down"></i>
            </a>
            <div class="collapse" id="products">
              <ul class="nav sub-menu">
                <li class="nav-item">
                  <a href="/<%=lang %>/admin/products" class="nav-link"><span class="tr_lang">Products</span></a>
                </li>
                <li class="nav-item">
                  <a href="/<%=lang %>/admin/patterns" class="nav-link"><span class="tr_lang">Patterns</span></a>
                </li>
              </ul>
            </div>
          </li>
          <li class="nav-item">
            <a href="/<%=lang %>/admin/stores" class="nav-link">
              <i class="link-icon" data-feather="shopping-cart"></i>
              <span class="link-title"><span class="tr_lang">Stores</span></span>
            </a>
          </li>
          <li class="nav-item">
            <a href="/<%=lang %>/admin/locations" class="nav-link">
              <i class="link-icon" data-feather="map-pin"></i>
              <span class="link-title"><span class="tr_lang">Locations</span></span>
            </a>
          </li>
          <li class="nav-item nav-category"><span class="tr_lang">Supervisors</span></li>
          <li class="nav-item">
            <a href="/<%=lang %>/admin/users" class="nav-link">
              <i class="link-icon" data-feather="user"></i>
              <span class="link-title"><span class="tr_lang">Users</span></span>
            </a>
          </li>
          <li class="nav-item">
            <a href="/<%=lang %>/admin/roles" class="nav-link">
              <i class="link-icon" data-feather="users"></i>
              <span class="link-title"><span class="tr_lang">Roles</span></span>
            </a>
          </li>
          <li class="nav-item nav-category"><span class="tr_lang">Settings</span></li>
          <li class="nav-item">
            <a href="/<%=lang %>/admin/profile" class="nav-link">
              <i class="link-icon" data-feather="instagram"></i>
              <span class="link-title"><span class="tr_lang">Profile</span></span>
            </a>
          </li>
          <li class="nav-item">
            <a href="/<%=lang %>/admin/settings" class="nav-link">
              <i class="link-icon" data-feather="settings"></i>
              <span class="link-title"><span class="tr_lang">Settings</span></span>
            </a>
          </li>
        </ul>
      </div>
    </nav>
