
<div class="page-content">
    <nav class="page-breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/<%= lang %>/admin/patterns/"><span class="tr_lang">Patterns</span></a></li>
            <li class="breadcrumb-item active" aria-current="page"><span class="tr_lang">Edit</span></li>
        </ol>
    </nav>
    <div class="row">
            <div class="col-lg-6 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title"><span class="tr_lang">Edit</span> <span class="tr_lang">pattern</span></h4>
                        <p class="card-description"><span class="tr_lang">some_text</span></p>
                            <form action="/api/patterns/update/" method="post" enctype="multipart/form-data">
                            <fieldset>
                                <div class="form-group">
                                    <label for="nameTm"><span class="tr_lang">Name</span> (TM)</label>
                                    <input id="nameTm" name="nameTm" value="<%= JSON.parse(data.name).tm %>" class="form-control tr_lang" type="text">
                                </div>
                                <div class="form-group">
                                    <label for="nameRu"><span class="tr_lang">Name</span> (RU)</label>
                                    <input id="nameRu" name="nameRu" value="<%= JSON.parse(data.name).ru %>" class="form-control tr_lang" type="text">
                                </div>
                                <div class="form-group">
                                    <label for="email"><span class="tr_lang">Description</span> (TM)</label>
                                    <textarea id="descriptionTm"  name="descriptionTm" class="form-control" maxlength="100" rows="8"
                                    placeholder="This textarea has a limit of 100 chars."><%= JSON.parse(data.description).tm %></textarea>
                                </div>
                                <div class="form-group">
                                    <label for="email"><span class="tr_lang">Description</span> (RU)</label>
                                    <textarea id="descriptionRu" name="descriptionRu" class="form-control" maxlength="100" rows="8"
                                    placeholder="This textarea has a limit of 100 chars."><%= JSON.parse(data.description).ru %></textarea>
                                </div>
                                <div class="form-group">
									<label><span class="tr_lang">Category</span></label>
                                    <select class="select2 w-100" name="catId" id="catId">
                                    </select>
								</div>
                                <div class="form-group">
									<label><span class="tr_lang">Brand</span></label>
                                    <select class="select2 w-100" name="brandId" id="brandId"></select>
								</div>
                                <div class="form-check form-check-flat form-check-primary">
                                    <label class="form-check-label">
                                        <input type="checkbox" id="active" name="active"<%= data.active  ? 'checked' : '' %>  class="form-check-input">
                                        Active
                                    </label>
                                </div>
                                <div class="form-group">
                                    <div class="input-field">
                                        <label class="active"><span class="tr_lang">Images</span></label>
                                        <div class="input-images-1" style="padding-top: .5rem;"></div>
                                    </div>
                                </div>
                                <button class="btn btn-primary submitter" type="submit">
                                    <span class="tr_lang">Save</span>
                                </button>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
    </div>
</div>
<script type="text/javascript" src="/assets/js/image-uploader.min.js"></script>
<script src="/assets/vendors/select2/select2.min.js"></script>


<script>
    let form={
        nameRu:'',
        nameTm:'',
        descriptionTm:'',
        descriptionRu:'',
        brandId:0,
        active:'on',
        catId:0,
    }
    let files=[];
    let deleted=[];
</script>
<script>
    const getImages=async(documents)=>{
        let preloaded =[]
        let base_url = window.location.origin+'/uploads';
        for (let i = 0; i < documents.length; i++) {
            const el = documents[i];
            preloaded.push({id: el.id, src: base_url+el.path})
        }
        return preloaded
    }

    const toBase64 = file => new Promise((resolve, reject) => {
        const reader = new FileReader();
        reader.readAsDataURL(file);
        reader.onload = () => resolve(reader.result);
        reader.onerror = error => reject(error);
    });

    const fileInit = async()=>{
        $('.input-images-1').imageUploader({
            preloaded:await getImages(JSON.parse('<%- JSON.stringify(data.documents) %>') ),
            imagesInputName: 'photos',
            label:'drag_drop_files_here_or_click_to_browse',
            multiple:false,
        });

        $('.upload-text span').addClass('tr_lang')
        $('input[name="photos[]"]').change(async function(){
            files=[]
            await $.each($(this)[0].files,async function(i, file) {
                let item =await toBase64(file)
                files.push(item)
            });
        })

        $('.delete-image').click(async function(){
            let parent= $(this).parent()
            let src = parent.children()[0].src;
            let id = $(parent.children()[2]).val()
            if (src[0]=='h') {
                deleted.push(id)
            }
        })

        Object.keys(form).forEach(key => {
            form[key]=$(`#${key}`).val()
            $(`#${key}`).change( function(){
                form[key]=$(this).val()
            })
        });
        $('#active').change(function(){
            if($(this).is(":checked")) {
                //'checked' event code
                form.active='on'
                return;
            }
            form.active=null
        })
    }
    $(document).ready(function(){
        fileInit()
        $('form').submit(function(e) {
            $('.submitter').prop('disabled', true);
            e.preventDefault()
            let id =window.location.href.split('/').pop()
            form.files=files
            form.deleted=deleted
            $.ajax({
                url      : $(this).attr('action')+id,
                type     : 'post',
                data     : form,
                dataType : 'json',
                success  : function (res){
                    console.log(res);
                    if (res.success) {
                        Swal.fire(
                            'Good job!',
                            res.message,
                            'success'
                        )
                        $('form').trigger("reset");
                    } else {
                        Swal.fire({
                        icon: 'error',
                        title: 'Oops...',
                        text: res.message,
                        })
                    }
                    $('form').trigger("reset");
                    $('.submitter').prop('disabled', false);
                },
                error    : function (error)
                {
                    Swal.fire({
                        icon: 'error',
                        title: 'Oops...',
                        text: error,
                        })
                    $('.submitter').prop('disabled', false);
                }
            });
        });
    });
</script>
<script>
    //category
    let catId=parseInt('<%- data.catId %>')
    $(document).ready(function(){
        getSelectData('categories','catId',{selectedIds:[catId]})
        $('#catId').select2({
            placeholder: 'Select category',
            minimumResultsForSearch: 1,
            multiple: false,
        })
        $("#catId").trigger("change");
    })

     //brand
    let brandId=parseInt('<%- data.brandId %>')
    $(document).ready(function(){
        $('#brandId').select2({
            placeholder: 'Select brand',
            minimumResultsForSearch: 1,
            multiple: false,
        })
        getSelectData('brands','brandId',{selectedIds:[brandId]})
    })
    const addOption=(array,id)=>{
        array.forEach(element => {
            let str=''
            for (let i = 0; i < element.subcount; i++) {
                str+='---'
            }
            $("#"+id)
            .append($("<option></option>")
            .attr("selected", element.selected )
            .attr("value", element.id )
            .text(str+tr(element.name) ));
        });
    }
    const getSelectData=(name,id,search={},)=>{
        const url=`/api/${name}/select2`
        const page=1
        const limit=10
        $.ajax({
            url      : url,
            type     : 'post',
            data     : {
                search,
                page,
                limit
            },
            dataType : 'json',
            success  : function (res) {
                console.log(res);
                if (res.success) {
                    addOption(res.data,id)
                } else {
                    Swal.fire({
                        icon: 'error',
                        title: 'Oops...',
                        text: res.message,
                        })
                }
            },
            error    : function (error) {
                Swal.fire({
                        icon: 'error',
                        title: 'Oops...',
                        text: res.message,
                        })
            }
        });
    }
</script>

